/* Глобальные стили */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

:root{
    --accent: #FFF37A;
    --light: #DCDCDC;
    --dark: #242529;
    --semi-dark: #36383E;
    --bluish: #5E6873;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    outline: none;
}
a{
    white-space: nowrap;
}
#app{
    background-color: var(--bluish);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
/* Подобные элементы будут встречаться в разных роутах, но их вид будет в достаточной степени отличаться, поэтому для них написаны только глобальные классы, а не отдельные компоненты */
.cards-list{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 25px;
}
.card{
    width: 100%;
    border-radius: 25px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .3);
    background-color: var(--semi-dark);
    padding: 25px;
    color: white;
}